.herosection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;

    .circle{
        
        position: absolute;
        top: -9rem;
        display: flex;
        align-items: center;
        justify-content: center;

    .big{
        height: 46rem;
    width: 46rem;
    border-radius: 50%;
    
    
    }

    
    .mmed{
       
        border: 1px solid #322f2f;
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        animation: move 1s 1s linear infinite;
        // animation: name duration timing-function delay iteration-count direction fill-mode;
    }

    .med{
        position: absolute;
        height: 38rem;
        width: 38rem;
    border-radius: 50%;
    animation: big 2s 1s linear alternate-reverse infinite;
    }

    

       @keyframes big{
       
        0%{
            
            border: 1px solid rgb(78, 61, 18);
        }
        100%{
           
            border: 1px solid goldenrod;
        }
    }
 

    .msmall{
        position: absolute;
    height: 24rem;
    width: 24rem;
    border: 1px solid #322f2f;
    border-radius: 50%;
    }

    .small{
        position: absolute;
    height: 14rem;
    width: 14rem;
    border: 1px solid #322f2f;
    border-radius: 50%;
    }
    .vsmall{
        position: absolute;
        
        border-radius: 50%;
        animation: small 2s 1s linear infinite;
    }

    @keyframes small{
        0%{
            height: 0rem;
        width: 0rem;
        border: 1px solid #383535;
        }
        100%{
            height: 46rem;
        width: 46rem;
        border: 1px solid rgb(39, 29, 29);
        }
    }


    @keyframes move{
        0%{
            height: 30rem;
            width: 30rem;
        }
        100%{
            height: 46rem;
            width: 46rem;
        }
    }



}

    .details{
        position: absolute;
        display: flex;
        align-items: center;
    flex-direction: column;
    top: 9rem;

    img{
        height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    }
    p{
        color: gray;
    font-size: large;
    letter-spacing: 15px;
    }

    
}

.navba{
    position: absolute;
   
    bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav{

display: flex;
align-items: center;
justify-content: center;

li{
    list-style: none;
    color: gray;
    padding: 0.4rem 1rem;
    font-size: larger;
    cursor: pointer;
}

li:hover{
    border: 1px solid rgb(98, 245, 255);
    color:rgb(98, 245, 255) ;
    border-radius: 1rem;
}
    }
}

}

@media (max-width:600px) {
    .herosection .details p{
        letter-spacing: 12px;
    }

    .herosection .navba{
        bottom: 10rem;
    left: -34px;
    }
    
}

@media (min-width:800px ) and (max-width:900px) {
    .herosection .circle .big {
        border: 1px solid #4a4646;
        height: 70rem;
        width: 50rem;
        border-radius: 50%;
    }
    @keyframes move {
        0% {
            height: 30rem;
            width: 30rem;
        }
        
        100% {
            height: 56rem;
            width: 56rem;
        }
        
    }    

    .herosection .circle .med {
        height: 43rem;
        width: 43rem;
    }
    .herosection .details {
        top: 21rem;
    }
    .herosection .navba{
        bottom: 20rem;
    }
    .herosection .navba{
        font-size: xx-large;
    }
}