.skills{
    padding-bottom: 3rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        letter-spacing: 15px;
        color: gray;
        text-align: center;
    }
    p{
        font-size: x-large;
        color: white;

    }
    .skill{
        display: grid;
        margin-top: 3rem;
        width: 60%;
        place-items:center;
        grid-template-columns: repeat(4,1fr);
        .boxes{
            width: 6.4rem;
            margin:2rem 0;
            padding: 0;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;

            img{
                height: 6rem;
            border: 1px solid gray;
            border-radius: 50%;
            overflow: hidden;
            }
            
        }
        
        .boxes:hover{
            background: linear-gradient(gray,grey);
            overflow: hidden;
        }
    }
}

@media (max-width:600px) {
    .skills .skill{
        display: grid;
        place-content:center;
        grid-template-columns: repeat(3,1fr);
    }
    
}