
.section{
  .container{
    .common-heading{
      color: gray;
      letter-spacing: 15px;
    }
  }



.section-contact-main{
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  

  p{
    text-align: center;
  }

  .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icons{
      display: flex;
      align-items: center;
      justify-content: center;

      p{
        line-height: 0rem;
      }

    }
  }

  form{
   padding: 2rem;

    .nameemail{
      display: flex;
      padding: 0.25rem;
      gap: 0.5rem;

      input{
       padding: 0.5rem 1rem;
       width: 13rem;
      }
    }
    .subject{
      padding: 0.25rem;

      input{
        padding: 0.5rem 1rem;
        width: 28.8rem

      }
    }
    .massage{
      padding: 0.25rem;

      input{
        padding: 0.5rem 1rem;
        width: 28.8rem;
      }
    }
    button{
      text-transform: uppercase;
      font-weight: 700;
      background-color:rgb(136, 255, 0);
      padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.375rem;
    width: 31.4rem;
    cursor: pointer;
    }
  }
}
}

@media (max-width:600px) {
  p{
    font-size: 1rem;
  }
  
}